form {
    display: flex;
    flex-direction: column;
    width: 60%;
    padding: 20px;
    border-radius: 10px;

    p {
        color: white;
    }
}

.input {
    height: 30px;
    padding: 10px;
    border-radius: 5px;
    margin: 10px 0;
}

.radio {

    &__container {
        
        display: flex;
        width: 100%;
        justify-content: space-around;
        
    }
}